# Data for Stata

## Imports

In [1]:
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

## Load Data

In [2]:
treatment_df = pd.read_csv('/Users/aaronberman/Desktop/Additive Variance Rep/src/Treatments/treatment_data_df.csv', index_col=0)
treatment_df

,participant.id_in_session,participant.code,participant.payoff,player.id_in_group,player.payoff,player.investment,player.personal_account,player.indiv_share,player.tot_invest,player.start_time,...,player.time_spent_compqs,player.num_errors_q_one,player.num_errors_q_two,player.num_errors_q_three_a,player.num_errors_q_three_b,player.num_errors_q_four_a,player.num_errors_q_four_b,player.num_errors_q_four_c,Treatment,group.realized_adjustment
0,1,esk86h0f,14.0,1,0.54,4.00,6.00,7.500,15.00,1.709051e+09,...,133.805286,0,0,1,0,1,0,1,baseline,NaN
1,1,esk86h0f,14.0,1,0.42,5.00,5.00,5.500,11.00,1.709051e+09,...,133.805286,0,0,1,0,1,0,1,baseline,NaN
2,1,esk86h0f,14.0,1,0.42,1.00,9.00,1.500,3.00,1.709051e+09,...,133.805286,0,0,1,0,1,0,1,baseline,NaN
3,1,esk86h0f,14.0,1,0.50,0.00,10.00,2.500,5.00,1.709051e+09,...,133.805286,0,0,1,0,1,0,1,baseline,NaN
4,1,esk86h0f,14.0,1,0.46,2.00,8.00,3.500,7.00,1.709051e+09,...,133.805286,0,0,1,0,1,0,1,baseline,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3755,16,hzjho5ql,10.0,4,0.56,0.50,9.50,9.500,19.00,1.711382e+09,...,300.216368,0,0,0,0,3,0,0,ambiguous,-5.0
3756,16,hzjho5ql,10.0,4,0.58,2.00,8.00,1.500,3.00,1.711382e+09,...,300.216368,0,0,0,0,3,0,0,ambiguous,5.0
3757,16,hzjho5ql,10.0,4,0.72,5.50,4.50,8.575,17.15,1.711382e+09,...,300.216368,0,0,0,0,3,0,0,ambiguous,5.0
3758,16,hzjho5ql,10.0,4,0.71,3.00,7.00,5.875,11.75,1.711382e+09,...,300.216368,0,0,0,0,3,0,0,ambiguous,5.0
3759,16,hzjho5ql,10.0,4,0.59,2.25,7.75,2.000,4.00,1.711382e+09,...,300.216368,0,0,0,0,3,0,0,ambiguous,5.0

## Data Cleaning for Stata Analysis

In [3]:
treatment_df.columns

Index(['participant.id_in_session', 'participant.code', 'participant.payoff',
       'player.id_in_group', 'player.payoff', 'player.investment',
       'player.personal_account', 'player.indiv_share', 'player.tot_invest',
       'player.start_time', 'player.time_spent_invest',
       'player.time_spent_results', 'player.time_spent_cumulative_results',
       'player.num_errors_decimal_invest', 'player.num_errors_max_invest',
       'player.num_errors_min_invest', 'player.payoff_to_display',
       'group.id_in_subsession', 'group.total_investment',
       'group.individual_share', 'subsession.round_number', 'session.code',
       'session.is_demo', 'player.comprehension_question_one',
       'player.comprehension_question_two',
       'player.comprehension_question_three_a',
       'player.comprehension_question_three_b',
       'player.comprehension_question_four_a',
       'player.comprehension_question_four_b',
       'player.comprehension_question_four_c', 'player.time_to_answer',
       'player.start_time_instrucs', 'player.time_spent_instrucs',
       'player.time_spent_compqs', 'player.num_errors_q_one',
       'player.num_errors_q_two', 'player.num_errors_q_three_a',
       'player.num_errors_q_three_b', 'player.num_errors_q_four_a',
       'player.num_errors_q_four_b', 'player.num_errors_q_four_c', 'Treatment',
       'group.realized_adjustment'],
      dtype='object')

In [4]:
treatment_df.drop(['session.is_demo', 'player.comprehension_question_one', 'player.comprehension_question_two', 'player.comprehension_question_three_a',
                                  'player.comprehension_question_three_b', 'player.comprehension_question_four_a', 'player.comprehension_question_four_b',
                                  'player.comprehension_question_four_c', 'player.time_to_answer', 'player.start_time_instrucs'], axis=1, inplace=True)

In [5]:
treatment_df.columns

Index(['participant.id_in_session', 'participant.code', 'participant.payoff',
       'player.id_in_group', 'player.payoff', 'player.investment',
       'player.personal_account', 'player.indiv_share', 'player.tot_invest',
       'player.start_time', 'player.time_spent_invest',
       'player.time_spent_results', 'player.time_spent_cumulative_results',
       'player.num_errors_decimal_invest', 'player.num_errors_max_invest',
       'player.num_errors_min_invest', 'player.payoff_to_display',
       'group.id_in_subsession', 'group.total_investment',
       'group.individual_share', 'subsession.round_number', 'session.code',
       'player.time_spent_instrucs', 'player.time_spent_compqs',
       'player.num_errors_q_one', 'player.num_errors_q_two',
       'player.num_errors_q_three_a', 'player.num_errors_q_three_b',
       'player.num_errors_q_four_a', 'player.num_errors_q_four_b',
       'player.num_errors_q_four_c', 'Treatment', 'group.realized_adjustment'],
      dtype='object')

In [6]:
treatment_df.rename(columns={'participant.code': 'subject', 'player.investment': 'investment', 'group.total_investment': 'total_investment',
                             'group.id_in_subsession': 'group_number','subsession.round_number': 'period', 'session.code': 'session', 'Treatment': 'treatment',
                             'group.realized_adjustment': 'realized_adjustment'}, inplace=True)

In [7]:
treatment_df.columns

Index(['participant.id_in_session', 'subject', 'participant.payoff',
       'player.id_in_group', 'player.payoff', 'investment',
       'player.personal_account', 'player.indiv_share', 'player.tot_invest',
       'player.start_time', 'player.time_spent_invest',
       'player.time_spent_results', 'player.time_spent_cumulative_results',
       'player.num_errors_decimal_invest', 'player.num_errors_max_invest',
       'player.num_errors_min_invest', 'player.payoff_to_display',
       'group_number', 'total_investment', 'group.individual_share', 'period',
       'session', 'player.time_spent_instrucs', 'player.time_spent_compqs',
       'player.num_errors_q_one', 'player.num_errors_q_two',
       'player.num_errors_q_three_a', 'player.num_errors_q_three_b',
       'player.num_errors_q_four_a', 'player.num_errors_q_four_b',
       'player.num_errors_q_four_c', 'treatment', 'realized_adjustment'],
      dtype='object')

In [8]:
treatment_df.drop(['participant.id_in_session', 'participant.payoff','player.id_in_group', 'player.payoff', 'player.personal_account',
                   'player.indiv_share', 'player.tot_invest', 'player.start_time', 'player.time_spent_invest',
       'player.time_spent_results', 'player.time_spent_cumulative_results',
       'player.num_errors_decimal_invest', 'player.num_errors_max_invest',
       'player.num_errors_min_invest', 'player.payoff_to_display', 'group.individual_share', 'player.time_spent_instrucs', 'player.time_spent_compqs',
       'player.num_errors_q_one', 'player.num_errors_q_two',
       'player.num_errors_q_three_a', 'player.num_errors_q_three_b',
       'player.num_errors_q_four_a', 'player.num_errors_q_four_b',
       'player.num_errors_q_four_c'
         ], axis=1, inplace=True)

In [9]:
treatment_df

,subject,investment,group_number,total_investment,period,session,treatment,realized_adjustment
0,esk86h0f,4.00,1,15.00,1,mqoz5bhq,baseline,NaN
1,esk86h0f,5.00,1,11.00,2,mqoz5bhq,baseline,NaN
2,esk86h0f,1.00,1,3.00,3,mqoz5bhq,baseline,NaN
3,esk86h0f,0.00,1,5.00,4,mqoz5bhq,baseline,NaN
4,esk86h0f,2.00,1,7.00,5,mqoz5bhq,baseline,NaN
...,...,...,...,...,...,...,...,...
3755,hzjho5ql,0.50,4,19.00,16,1pzhdh7v,ambiguous,-5.0
3756,hzjho5ql,2.00,4,3.00,17,1pzhdh7v,ambiguous,5.0
3757,hzjho5ql,5.50,4,17.15,18,1pzhdh7v,ambiguous,5.0
3758,hzjho5ql,3.00,4,11.75,19,1pzhdh7v,ambiguous,5.0
3759,hzjho5ql,2.25,4,4.00,20,1pzhdh7v,ambiguous,5.0

In [12]:
survey_df = pd.read_csv('/Users/aaronberman/Desktop/Additive Variance Rep/src/Survey/all_survey_df.csv', index_col=0)

In [13]:
survey_df.columns

Index(['participant.id_in_session', 'participant.code', 'participant.payoff',
       'player.id_in_group', 'player.payoff', 'player.password_to_start',
       'player.major', 'player.gender', 'player.grade',
       'player.personal_versus_group', 'player.change', 'player.reason_own',
       'player.reason_group', 'player.reason_conditional',
       'player.reason_experiment', 'player.reason_adjust',
       'player.reason_future_rounds', 'player.decision_style_facts',
       'player.decision_style_feelings', 'player.decision_style_religious',
       'player.decision_style_family', 'player.clarity', 'player.suggestions',
       'player.start_time', 'player.time_spent_survey_one',
       'player.time_spent_survey_two', 'player.time_spent_survey_three',
       'player.time_spent_survey_four', 'group.id_in_subsession',
       'subsession.round_number', 'session.code', 'session.is_demo',
       'player.adjustment_positive', 'player.adjustment_negative',
       'player.adjustment_unaffected', 'player.patterns',
       'player.patterns_explained', 'player.time_spent_survey_one_point_five',
       'player.time_spent_survey_five'],
      dtype='object')

In [14]:
survey_df.drop(['participant.id_in_session', 'participant.payoff',
       'player.id_in_group', 'player.payoff', 'player.password_to_start', 'player.personal_versus_group', 'player.change', 'player.reason_own',
       'player.reason_group', 'player.reason_conditional',
       'player.reason_experiment', 'player.reason_adjust',
       'player.reason_future_rounds', 'player.decision_style_facts',
       'player.decision_style_feelings', 'player.decision_style_religious',
       'player.decision_style_family', 'player.clarity', 'player.suggestions',
       'player.start_time', 'player.time_spent_survey_one',
       'player.time_spent_survey_two', 'player.time_spent_survey_three',
       'player.time_spent_survey_four', 'group.id_in_subsession',
       'subsession.round_number', 'session.code', 'session.is_demo',
       'player.adjustment_positive', 'player.adjustment_negative',
       'player.adjustment_unaffected', 'player.patterns',
       'player.patterns_explained', 'player.time_spent_survey_one_point_five',
       'player.time_spent_survey_five'], axis=1, inplace=True)

In [15]:
survey_df.rename(columns={'participant.code': 'subject', 'player.major': 'major', 'player.gender': 'gender', 'player.grade': 'grade'}, inplace=True)
survey_df

      subject  major  gender  grade
0    esk86h0f    1.0     1.0    5.0
1    alv81pgn    1.0     1.0    5.0
2    ie0n2swc    5.0     2.0    5.0
3    5vll1bh3    1.0     1.0    5.0
4    asfetulw    1.0     2.0    5.0
..        ...    ...     ...    ...
183  ip66ed4s    1.0     2.0    5.0
184  38qmmfhb    1.0     2.0    5.0
185  wf6hdr47    1.0     1.0    5.0
186  7yfvdptl    1.0     1.0    5.0
187  ic08evd2    5.0     1.0    4.0

[188 rows x 4 columns]

In [16]:
risk_df = pd.read_csv('/Users/aaronberman/Desktop/Additive Variance Rep/src/Risk/risk_pref_df.csv', index_col=0)

In [17]:
risk_df.columns

Index(['participant.id_in_session', 'participant.code', 'participant.payoff',
       'player.id_in_group_lottery', 'player.payoff_lottery',
       'player.lottery_b_one', 'player.lottery_b_two',
       'player.lottery_b_three', 'player.lottery_b_four',
       'player.lottery_b_five', 'player.lottery_b_six',
       'player.lottery_b_seven', 'player.lottery_b_eight',
       'player.lottery_b_nine', 'player.lottery_b_ten',
       'player.chosen_lottery', 'player.relevant_choice',
       'player.relevant_choice_as_string', 'player.start_time_lottery',
       'player.time_spent_lottery', 'player.time_spent_results_lottery',
       'group.id_in_subsession_lottery', 'subsession.round_number_lottery',
       'session.code', 'session.is_demo', 'player.num_safe_choice',
       'player.risk_estimate_lower_bound', 'player.risk_estimate_upper_bound',
       'player.risk_preference_classification'],
      dtype='object')

In [18]:
risk_df.drop(['participant.id_in_session', 'participant.payoff',
       'player.id_in_group_lottery', 'player.payoff_lottery',
       'player.lottery_b_one', 'player.lottery_b_two',
       'player.lottery_b_three', 'player.lottery_b_four',
       'player.lottery_b_five', 'player.lottery_b_six',
       'player.lottery_b_seven', 'player.lottery_b_eight',
       'player.lottery_b_nine', 'player.lottery_b_ten',
       'player.chosen_lottery', 'player.relevant_choice',
       'player.relevant_choice_as_string', 'player.start_time_lottery',
       'player.time_spent_lottery', 'player.time_spent_results_lottery',
       'group.id_in_subsession_lottery', 'subsession.round_number_lottery',
       'session.code', 'session.is_demo'], axis=1, inplace=True)

In [19]:
risk_df.rename(columns={'participant.code': 'subject', 'player.num_safe_choice': 'num_safe_choice',
                        'player.risk_estimate_lower_bound': 'risk_lower_bound', 'player.risk_estimate_upper_bound': 'risk_upper_bound',
                        'player.risk_preference_classification': 'risk_type'}, inplace=True)

In [20]:
risk_and_survey_df = pd.merge(risk_df, survey_df, on='subject')
stata_data = pd.merge(treatment_df, risk_and_survey_df, on='subject')
stata_data

,subject,investment,group_number,total_investment,period,session,treatment,realized_adjustment,num_safe_choice,risk_lower_bound,risk_upper_bound,risk_type,major,gender,grade
0,hnaruxqr,10.00,1,28.00,1,drr1e0td,baseline,NaN,5,0.15,0.41,slightly risk average,1.0,2.0,5.0
1,hnaruxqr,9.00,1,24.00,2,drr1e0td,baseline,NaN,5,0.15,0.41,slightly risk average,1.0,2.0,5.0
2,hnaruxqr,10.00,1,28.50,3,drr1e0td,baseline,NaN,5,0.15,0.41,slightly risk average,1.0,2.0,5.0
3,hnaruxqr,5.00,1,13.50,4,drr1e0td,baseline,NaN,5,0.15,0.41,slightly risk average,1.0,2.0,5.0
4,hnaruxqr,10.00,1,31.00,5,drr1e0td,baseline,NaN,5,0.15,0.41,slightly risk average,1.0,2.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3755,hzjho5ql,0.50,4,19.00,16,1pzhdh7v,ambiguous,-5.0,3,-0.49,-0.15,risk loving,1.0,2.0,5.0
3756,hzjho5ql,2.00,4,3.00,17,1pzhdh7v,ambiguous,5.0,3,-0.49,-0.15,risk loving,1.0,2.0,5.0
3757,hzjho5ql,5.50,4,17.15,18,1pzhdh7v,ambiguous,5.0,3,-0.49,-0.15,risk loving,1.0,2.0,5.0
3758,hzjho5ql,3.00,4,11.75,19,1pzhdh7v,ambiguous,5.0,3,-0.49,-0.15,risk loving,1.0,2.0,5.0
3759,hzjho5ql,2.25,4,4.00,20,1pzhdh7v,ambiguous,5.0,3,-0.49,-0.15,risk loving,1.0,2.0,5.0

In [21]:
stata_data.to_csv('additive_var_rep_stata_df.csv')